@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
.vantagem {
	min-height: 130px;
	max-width: 130px;
}
.bg-cyan {
	background-color: #6FB2A4;
	color: white;
}
.bg-cyan-light{
	background-color: #E8F5F2;
}
.txt-cyan {
	color: #6FB2A4;
}
.custom-gradient {
	background: linear-gradient(to right,
		rgba(255, 255, 255, 0.4) 0%,
		rgba(255, 255, 255, 0.2) 20%,
		rgba(111, 178, 164, 1) 100%);
	border: none;
}
.hover-card:hover{
	cursor: pointer;
}
.pill-wrapper {
	margin-left: -10px;
	margin-right: -10px;
}
.pill {
	--left-color: #d9d9d9;
	--right-color: #6F92B2;
	height: 90px;
	border-radius: 50px;
	background: linear-gradient(to right, var(--left-color) 50%, var(--right-color) 50%);
	margin: 10px;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.2s ease;
}
.pill:hover {
	opacity: 0.7;
}
.pill-blue  { --right-color: #6F92B2; }
.pill-cyan  { --right-color: #6FB2A4; }
.pill-red   { --right-color: #B26F70; }

.pill-fixed {
	width: 250px;
	min-width: 220px;
	max-width: 100%;
}

.pill-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    font-family: 'Times New Roman', sans-serif;
}

/* Estilos para a nova seção de comentários */
.card-resultado-busca {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}

.comentarios-section {
    border-top: 1px solid #eee;
    padding-top: 1rem;
    margin-top: 1rem;
}

.form-comentario-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px 15px;
    padding-right: 50px; /* Espaço para o botão */
    outline: none;
}

.form-comentario-wrapper {
    position: relative;
}

.form-comentario-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    font-size: 1.2rem;
    color: #00B8B8; 
}

.comentario-item {
    margin-bottom: 1rem;
}